.favouriteWrapper {
  display: inline;
}

span {
  animation: fadeInWords 0.5s ease-in-out;
  animation-fill-mode: forwards;
  animation-name: fadeInWords;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  opacity: 0;
}

@keyframes fadeInWords {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
